.thunar .view { background-color: #17273E; color: #E3EAF3; }
.thunar grid paned grid { background-color: #17273E; color: #E3EAF3; }
.thunar toolbar, .thunar toolbar entry { background-color: #17273E; color: #E3EAF3; }